# Dicts

In [1]:
type({})

dict

In [3]:
d1 = {}

In [4]:
d2 = {"January": ("jan", 1), "February": ("feb", 2)}

In [6]:
short, num = d2["January"] # unpacking tuple
short, num

('jan', 1)

In [7]:
d2["March"]

KeyError: 'March'

In [8]:
d2["March"] = "mar", 3

In [9]:
d2["March"]

('mar', 3)

In [26]:
# unordered, but keys() and values() would be returned is same order
d2.keys(), d2.values(), d2.items()

(['January', 'February', 'March'],
 [('jan', 1), ('feb', 2), ('mar', 3)],
 [('January', ('jan', 1)), ('February', ('feb', 2)), ('March', ('mar', 3))])

In [27]:
d3 = d2 # same object

In [28]:
d2["April"] = ("apr", 4)

In [30]:
d3["April"] # d3!

('apr', 4)

In [31]:
d3 = d2.copy() #deep copy, 2 objects

In [32]:
d2['May'] = "may", 5

In [33]:
d3['May']

KeyError: 'May'

In [34]:
"March" in d2, 3 in d2 # "in" checks keys only

(True, False)

In [35]:
3 not in d3

True

In [36]:
d2

{'April': ('apr', 4),
 'February': ('feb', 2),
 'January': ('jan', 1),
 'March': ('mar', 3),
 'May': ('may', 5)}

In [37]:
sorted(d2)

['April', 'February', 'January', 'March', 'May']

In [40]:
set_2 = set(d2)
set_2

{'April', 'February', 'January', 'March', 'May'}

In [47]:
keys_2 = d2.keys()
keys_2

['February', 'March', 'August', 'May', 'January', 'April']

In [ ]:
d2["August"] = ("aug", 8)

In [43]:
d2.values()

[('feb', 2), ('mar', 3), ('aug', 8), ('may', 5), ('jan', 1), ('apr', 4)]

In [44]:
d2.items()

[('February', ('feb', 2)),
 ('March', ('mar', 3)),
 ('August', ('aug', 8)),
 ('May', ('may', 5)),
 ('January', ('jan', 1)),
 ('April', ('apr', 4))]

In [45]:
len(d2)

6

# Sets

In [48]:
type(set())

set

In [49]:
s_digits = {1, 2, 1, 2, 3, 3, 3, 1, 2, 3}

In [50]:
s_digits

{1, 2, 3}

In [51]:
empty_set = set()

In [54]:
def ss(s):
    """
    Joins all elements of an iterable, returning a string.
    Intended to work only with sets/lists of characters
    """
    return "{" + "".join(sorted(s)) + "}"
ss(empty_set)

'{}'

In [55]:
len(empty_set)

0

In [56]:
s_ai = set("any iterable") # unordered/ IPython order output by itself
s_ai

{' ', 'a', 'b', 'e', 'i', 'l', 'n', 'r', 't', 'y'}

In [57]:
ss(s_ai)

'{ abeilnrty}'

In [58]:
for c in s_ai:
    print c

a

b
e
i
l
n
r
t
y

In [59]:
for c in sorted(s_ai):
    print c

a
b
e
i
l
n
r
t
y

In [60]:
s_ai.isdisjoint(s_digits)

True

In [61]:
empty_set.issubset(s_digits), empty_set.issubset(s_ai) # because emptyset is subset of every set

(True, True)

In [62]:
empty_set.issubset(empty_set)

True

In [63]:
s_napoleon = set("able was i ere i saw elba")

In [64]:
s_napoleon

{' ', 'a', 'b', 'e', 'i', 'l', 'r', 's', 'w'}

In [66]:
s_napoleon | s_ai # union - all elements on either (or both) sets

{' ', 'a', 'b', 'e', 'i', 'l', 'n', 'r', 's', 't', 'w', 'y'}

In [67]:
ss(s_napoleon.union(s_ai))

'{ abeilnrstwy}'

In [68]:
ss(s_napoleon & s_ai) # set intersection

'{ abeilr}'

In [69]:
ss(s_napoleon.intersection(s_ai))

'{ abeilr}'

In [72]:
{1, 2, 3} <= {1, 2, 3}, {1, 2, 3} is {1, 2, 3}

(True, False)

In [71]:
{1, 2, 3} < {1, 2, 3}

False

In [74]:
s_napoleon < s_ai, s_ai < s_napoleon # because sets are unordered, there is no point to compare

(False, False)

In [75]:
ss(s_napoleon ^ s_ai) # symmetric difference (exclusive or)

'{nstwy}'

In [76]:
ss(s_ai - s_napoleon)

'{nty}'